In [80]:
#Purpose: plot when our cohort typically arrives on campus  

import pandas as pd

class_data_df = pd.read_csv('data.csv', header = None )
class_data_df

          0         1        2        3        4        5
0   8:56 AM   9:00 AM  7:45 AM  7:45 AM  8:05 AM  7:45 AM
1   8:40 AM   8:40 AM  8:30 AM  8:30 AM  8:45 AM  8:20 AM
2   8:45 AM   8:20 AM  8:05 AM  8:00 AM  8:05 AM  8:00 AM
3   8:40 AM   8:40 AM  8:40 AM  8:25 AM  8:40 AM  8:40 AM
4   8:55 AM   8:50 AM  8:55 AM  8:10 AM  8:15 AM  8:05 AM
5   8:45 AM   8:45 AM  8:45 AM  8:40 AM  8:30 AM  8:40 AM
6   8:45 AM   8:54 AM  8:38 AM  8:40 AM  8:32 AM  8:41 AM
7    absent  11:00 AM  8:35 AM  8:15 AM  8:10 AM  8:10 AM
8   8:39 AM   8:13 AM  8:15 AM  8:12 AM  8:10 AM  8:00 AM
9   9:00 AM   8:50 AM  8:50 AM  8:50 AM  8:40 AM  8:45 AM
10  8:40 AM   8:50 AM  8:40 AM  8:34 AM  8:20 AM  8:30 AM
11  8:15 AM   8:30 AM  8:13 AM  8:30 AM  7:45 AM  8:40 AM
12  8:45 AM   8:55 AM  8:45 AM  8:45 AM  8:00 AM  8:45 AM
13  8:45 AM   8:45 AM  8:05 AM  8:00 AM  8:00 AM  8:00 AM
14  8:45 AM   8:45 AM  9:00 AM  9:00 AM  8:50 AM  9:00 AM
15  8:15 AM   8:40 AM  8:25 AM  8:30 AM  7:30 AM  8:25 AM
16  8:45 AM   8:40 AM  8:45 AM  8:55 AM  8:45 AM  8:45 AM
17  8:45 AM   9:00 AM  9:00 AM  9:00 AM  9:00 AM  9:00 AM
18  8:50 AM   8:50 AM  8:57 AM  8:42 AM  8:35 AM  8:30 AM
19  8:15 AM   9:00 AM  8:35 AM  9:00 AM  8:58 AM  8:20 AM
20  8:45 AM   8:35 AM  8:27 AM  8:46 AM  8:31 AM  8:37 AM
21  8:45 AM   8:45 AM  9:00 AM  8:57 AM  8:57 AM  8:50 AM
22  8:45 AM   8:50 AM  8:30 AM  8:45 AM  8:50 AM  8:10 AM

In [81]:
class_data_df.columns = ["Day_1","Day_2","Day_3","Day_4","Day_5","Day_6"] #set the header row as the df header

In [82]:
class_data_df

      Day_1     Day_2    Day_3    Day_4    Day_5    Day_6
0   8:56 AM   9:00 AM  7:45 AM  7:45 AM  8:05 AM  7:45 AM
1   8:40 AM   8:40 AM  8:30 AM  8:30 AM  8:45 AM  8:20 AM
2   8:45 AM   8:20 AM  8:05 AM  8:00 AM  8:05 AM  8:00 AM
3   8:40 AM   8:40 AM  8:40 AM  8:25 AM  8:40 AM  8:40 AM
4   8:55 AM   8:50 AM  8:55 AM  8:10 AM  8:15 AM  8:05 AM
5   8:45 AM   8:45 AM  8:45 AM  8:40 AM  8:30 AM  8:40 AM
6   8:45 AM   8:54 AM  8:38 AM  8:40 AM  8:32 AM  8:41 AM
7    absent  11:00 AM  8:35 AM  8:15 AM  8:10 AM  8:10 AM
8   8:39 AM   8:13 AM  8:15 AM  8:12 AM  8:10 AM  8:00 AM
9   9:00 AM   8:50 AM  8:50 AM  8:50 AM  8:40 AM  8:45 AM
10  8:40 AM   8:50 AM  8:40 AM  8:34 AM  8:20 AM  8:30 AM
11  8:15 AM   8:30 AM  8:13 AM  8:30 AM  7:45 AM  8:40 AM
12  8:45 AM   8:55 AM  8:45 AM  8:45 AM  8:00 AM  8:45 AM
13  8:45 AM   8:45 AM  8:05 AM  8:00 AM  8:00 AM  8:00 AM
14  8:45 AM   8:45 AM  9:00 AM  9:00 AM  8:50 AM  9:00 AM
15  8:15 AM   8:40 AM  8:25 AM  8:30 AM  7:30 AM  8:25 AM
16  8:45 AM   8:40 AM  8:45 AM  8:55 AM  8:45 AM  8:45 AM
17  8:45 AM   9:00 AM  9:00 AM  9:00 AM  9:00 AM  9:00 AM
18  8:50 AM   8:50 AM  8:57 AM  8:42 AM  8:35 AM  8:30 AM
19  8:15 AM   9:00 AM  8:35 AM  9:00 AM  8:58 AM  8:20 AM
20  8:45 AM   8:35 AM  8:27 AM  8:46 AM  8:31 AM  8:37 AM
21  8:45 AM   8:45 AM  9:00 AM  8:57 AM  8:57 AM  8:50 AM
22  8:45 AM   8:50 AM  8:30 AM  8:45 AM  8:50 AM  8:10 AM

In [83]:
class_data_df.loc[7,'Day_1']

'absent'

In [84]:
# import numpy as np 
# def set_to_null(word): 
#     if word == "absent": 
#         return np.nan 
    
# cleaned_class_data = class_data_df.loc[class_data_df['Day_1'].apply(set_to_null),:]

class_data_df = class_data_df.loc[class_data_df['Day_1']!="absent"]
class_data_df.head()

     Day_1    Day_2    Day_3    Day_4    Day_5    Day_6
0  8:56 AM  9:00 AM  7:45 AM  7:45 AM  8:05 AM  7:45 AM
1  8:40 AM  8:40 AM  8:30 AM  8:30 AM  8:45 AM  8:20 AM
2  8:45 AM  8:20 AM  8:05 AM  8:00 AM  8:05 AM  8:00 AM
3  8:40 AM  8:40 AM  8:40 AM  8:25 AM  8:40 AM  8:40 AM
4  8:55 AM  8:50 AM  8:55 AM  8:10 AM  8:15 AM  8:05 AM

In [77]:
#convert the times to integers 
# class_data_df['Day_1'].mean() returns a could not convert

In [88]:
# This is wrong ignore 
# def change_time(time):
#     time = str(time)
#     return time[:5]
#class_data_df = class_data_df.loc[class_data_df['Day_1'].apply(change_time),:]

pd.timestamp

KeyError: 'None of [0     8:56 \n1     8:40 \n2     8:45 \n3     8:40 \n4     8:55 \n5     8:45 \n6     8:45 \n8     8:39 \n9     9:00 \n10    8:40 \n11    8:15 \n12    8:45 \n13    8:45 \n14    8:45 \n15    8:15 \n16    8:45 \n17    8:45 \n18    8:50 \n19    8:15 \n20    8:45 \n21    8:45 \n22    8:45 \nName: Day_1, dtype: object] are in the [index]'

In [70]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#Create a bar chart of the average arrival times 
fig, ax = plt.subplots(figsize = (20,20))

# Label plot
ax.set_title('Class Arrival Times')

ax.set_xlabel('Days')
ax.set_ylabel('Average Arrival Time')

# Generate data
x = (class_data_df.columns)
y = (class_data_df['Day_1'].mean(),class_data_df['Day_2'].mean(),class_data_df['Day_3'].mean(),
     class_data_df['Day_4'].mean(),class_data_df['Day_5'].mean(),class_data_df['Day_6'].mean())

# Plot
ax.barh(x, y, color="blue")

AttributeError: 'DataFrame' object has no attribute 'barh'